header{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    font-size: 30px;
    justify-content: space-between;
}

header img {
    width: 70px;
    height: 70px;
}
a { 
    margin: 20px;
    padding: 10px;

}

